.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);

  min-height: 50rem;
}


.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
}

.content {
  display: flex;                                      // make .sidebar and .hotel-view in a row
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;                                      // NO flex-grow if there are some space;
                                                      // No shirk if there are not enough space
                                                      // 18% of sidebar width
}

.hotel-view {
  background-color: #fff;
  background-color: orangered;

  flex: 1;                                            // flex element will grow as mush as it can
}
